.logo {
   width: 80px;
   height: 49px;
   background: url(../images/logo.png) center no-repeat;
   @include hide;
}

.figure-icon {
   width: 48px;
   height: 48px;
   @include ms {
      width: 24px;
      height: 24px;
   }
}
.icon-ss {
   @include ss {
      width: 20px;
      height: 20px;
   }
}