//font-face
@font-face {
   font-family: 'Lato-B';
   src: url(/fonts/Lato-Bold.ttf) format('truetype');
}
@font-face {
   font-family: 'Lato-R';
   src: url(/fonts/Lato-Regular.ttf) format('truetype');
}
@font-face {
   font-family: 'Mono-R';
   src: url(/fonts/RobotoMono-Regular.ttf) format('truetype');
}
.lato-bold {
   font-family: 'Lato-B', sans-serif;
   font-weight: 700;
}
.lato-regular {
   font-family: 'Lato-R', sans-serif;
   font-weight: 400;
}
.mono-regular {
   font-family: 'Mono-R', sans-serif;
   font-weight: 400;
}


// font
.f-xl {
   font-size: 24px;
}
.f-lg {
   font-size: 20px;
}
.f-md {
   font-size: 14px;
}
.f-sm {
   font-size: 12px;
}
