.container {
   max-width: 1110px;
   margin: 0 auto;
   @media (max-width: 992px) {
         max-width: 960px;
   }
   @media (max-width: 767px) {
         max-width: 720px;
   }
   @media (max-width: 576px) {
         max-width: 540px; 
   }
}

.full--limit {
   padding-left: 88px;
   padding-right: 88px;
   @media (max-width: 992px) {
      padding-left: 52px;
      padding-right: 52px;
   }
   @media (max-width: 767px) {
      padding-left: 40px;
      padding-right: 40px;
   }
   @media (max-width: 576px) {
      padding-left: 15px;
      padding-right: 15px;
   }
}