//base-variable
$space-base: 4px;

//spacing(margin= m, padding= p)
//position(top= t, bottom= b, left= l, right= r)
@mixin spacing($n, $i) {
  @if $n == m {
      margin: $i * $space-base;
  } @else if $n == mt {
      margin-top: $i * $space-base;
  } @else if $n == mb {
      margin-bottom: $i * $space-base;
  } @else if $n == ml {
      margin-left: $i * $space-base;
  } @else if $n == mr {
      margin-right: $i * $space-base;
  } @else if $n == my {
      margin-top: $i * $space-base;
      margin-bottom: $i * $space-base;
  } @else if $n == mx {
      margin-left: $i * $space-base;
      margin-right: $i * $space-base;
  } @else if $n == p {
      padding: $i * $space-base;
  } @else if $n == pt {
      padding-top: $i * $space-base;
  } @else if $n == pb {
      padding-bottom: $i * $space-base;
  } @else if $n == pl {
      padding-left: $i * $space-base;
  } @else if $n == pr {
      padding-right: $i * $space-base;
  } @else if $n == py {
      padding-top: $i * $space-base;
      padding-bottom: $i * $space-base;
  } @else if $n == px {
      padding-left: $i * $space-base;
      padding-right: $i * $space-base;
  }
}

//h1 text-hide
@mixin hide {
      display: block;
      text-indent: 101%;
      white-space: nowrap;
      overflow: hidden; 
}