@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  display: block;
  text-decoration: none;
  color: #ffffff; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5; }

.container {
  max-width: 1110px;
  margin: 0 auto; }
  @media (max-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (max-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 576px) {
    .container {
      max-width: 540px; } }

.full--limit {
  padding-left: 88px;
  padding-right: 88px; }
  @media (max-width: 992px) {
    .full--limit {
      padding-left: 52px;
      padding-right: 52px; } }
  @media (max-width: 768px) {
    .full--limit {
      padding-left: 40px;
      padding-right: 40px; } }
  @media (max-width: 576px) {
    .full--limit {
      padding-left: 15px;
      padding-right: 15px; } }

@font-face {
  font-family: 'Fat';
  src: url(../fonts/NotoSansTC-Bold.otf);
  unicode-range: U+4E00-9FFF, U+3000-301E, U+FF01-FF1F, U+0030-0039; }

@font-face {
  font-family: 'Fat';
  src: url(../fonts/Roboto-Bold.ttf);
  unicode-range: U+00-024F; }

@font-face {
  font-family: 'Regular';
  src: url(../fonts/NotoSansTC-Regular.otf);
  unicode-range: U+4E00-9FFF, U+3000-301E, U+FF01-FF1F, U+0030-0039; }

@font-face {
  font-family: 'Regular';
  src: url(../fonts/Roboto-Regular.ttf);
  unicode-range: U+00-024F; }

@font-face {
  font-family: 'Medium';
  src: url(../fonts/NotoSansTC-Medium.otf);
  unicode-range: U+4E00-9FFF, U+3000-301E, U+FF01-FF1F, U+0030-0039; }

@font-face {
  font-family: 'Medium';
  src: url(../fonts/Roboto-Medium.ttf);
  unicode-range: U+00-024F; }

@font-face {
  font-family: 'BlackItalic';
  src: url(../fonts/Roboto-BlackItalic.ttf);
  unicode-range: U+00-024F; }

.f1 {
  font-family: 'Fat'; }

.f2 {
  font-family: 'Regular'; }

.f3 {
  font-family: 'Medium'; }

.f4 {
  font-family: 'BlackItalic'; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3; }

.h1 {
  font-size: 64px; }

.h2 {
  font-size: 48px; }
  @media (max-width: 768px) {
    .h2-ms {
      font-size: 48px; } }

.h9 {
  font-size: 42px; }

.h3 {
  font-size: 36px; }
  @media (max-width: 992px) {
    .h3-ls {
      font-size: 36px; } }

.h4 {
  font-size: 32px; }
  @media (max-width: 992px) {
    .h4-ls {
      font-size: 32px; } }
  @media (max-width: 768px) {
    .h4-ms {
      font-size: 32px; } }
  @media (max-width: 576px) {
    .h4-ss {
      font-size: 32px; } }

.h5 {
  font-size: 24px; }
  @media (max-width: 992px) {
    .h5-ls {
      font-size: 24px; } }
  @media (max-width: 576px) {
    .h5-ss {
      font-size: 24px; } }

.h6 {
  font-size: 20px; }
  @media (max-width: 768px) {
    .h6-ms {
      font-size: 20px; } }
  @media (max-width: 576px) {
    .h6-ss {
      font-size: 20px; } }

.h7 {
  font-size: 14px; }
  @media (max-width: 768px) {
    .h7-ms {
      font-size: 14px; } }

@media (max-width: 768px) {
  .h8-ms {
    font-size: 16px; } }

@media (max-width: 576px) {
  .h8-ss {
    font-size: 16px; } }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-direction-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.flex-direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.d-block {
  display: block; }

.d-none {
  display: none; }
  @media (max-width: 768px) {
    .d-none-ms {
      display: none; } }
  @media (max-width: 576px) {
    .d-none-ss {
      display: none; } }

.mb-1 {
  margin-bottom: 4px; }

.mb-2 {
  margin-bottom: 8px; }

.mb-4 {
  margin-bottom: 16px; }

.mb-5 {
  margin-bottom: 20px; }

.mb-6 {
  margin-bottom: 24px; }

.mb-8 {
  margin-bottom: 32px; }

.mb-10 {
  margin-bottom: 40px; }

.mb-15 {
  margin-bottom: 60px; }

.mb-22 {
  margin-bottom: 88px; }

.mb-25 {
  margin-bottom: 100px; }

.mb-39 {
  margin-bottom: 156px; }

.ml-2 {
  margin-left: 8px; }

.ml-3 {
  margin-left: 12px; }

.ml-6 {
  margin-left: 24px; }

.ml-7 {
  margin-left: 28px; }

.ml-8 {
  margin-left: 32px; }

.ml-9 {
  margin-left: 36px; }

.ml-10 {
  margin-left: 40px; }

.ml-12 {
  margin-left: 48px; }

.ml-15 {
  margin-left: 60px; }

.mr-2 {
  margin-right: 8px; }

.mr-12 {
  margin-right: 48px; }

.padding-4 {
  padding: 16px; }

.pt-9 {
  padding-top: 36px; }

.pt-16 {
  padding-top: 64px; }

.pb-7 {
  padding-bottom: 28px; }

.pb-16 {
  padding-bottom: 64px; }

.pb-20 {
  padding-bottom: 80px; }

.py-4 {
  padding-top: 16px;
  padding-bottom: 16px; }

.py-10 {
  padding-top: 40px;
  padding-bottom: 40px; }

@media (max-width: 992px) {
  .d-flex-ls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .direction-row-ls {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .mb-2-ls {
    margin-bottom: 8px; }
  .mb-10-ls {
    margin-bottom: 40px; }
  .mb-18-ls {
    margin-bottom: 72px; }
  .mb-26-ls {
    margin-bottom: 104px; }
  .pt-10-ls {
    padding-top: 40px; }
  .pb-10-ls {
    padding-bottom: 40px; }
  .py-8-ls {
    padding-top: 32px;
    padding-bottom: 32px; } }

@media (max-width: 768px) {
  .flex-direction-ms {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .mb-2-ms {
    margin-bottom: 8px; }
  .mb-4-ms {
    margin-bottom: 16px; }
  .mb-6-ms {
    margin-bottom: 24px; }
  .mb-7-ms {
    margin-bottom: 28px; }
  .mb-8-ms {
    margin-bottom: 32px; }
  .ml-0-ms {
    margin-left: 0px; }
  .ml-3-ms {
    margin-left: 12px; }
  .ml-6-ms {
    margin-left: 24px; }
  .ml-10-ms {
    margin-left: 40px; }
  .mr-10-ms {
    margin-right: 40px; }
  .pt-10-ms {
    padding-top: 40px; }
  .pb-8-ms {
    padding-bottom: 32px; } }

@media (max-width: 576px) {
  .flex-direction-column-ss {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .align-items-start-ss {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start; }
  .mt-5-ss {
    margin-top: 20px; }
  .mb-2-ss {
    margin-bottom: 8px; }
  .mb-4-ss {
    margin-bottom: 16px; }
  .mb-5-ss {
    margin-bottom: 20px; }
  .mb-8-ss {
    margin-bottom: 32px; }
  .mb-10-ss {
    margin-bottom: 40px; }
  .mb-14-ss {
    margin-bottom: 56px; }
  .ml-0-ss {
    margin-left: 0px; }
  .ml-1-ss {
    margin-left: 4px; }
  .pt-8-ss {
    padding-top: 32px; }
  .pb-6-ss {
    padding-bottom: 24px; } }

.full--primary {
  background-color: #AA0601; }

.full--primary-light {
  background-color: #AA06010D; }

.line-bottom--white {
  border-bottom: 1px solid #ffffff; }

.border {
  border: 1px solid #DEE2E6; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-white {
  color: #ffffff; }

.text-title-color {
  color: #650300; }

.text-primary {
  color: #AA0601; }

.text-span {
  color: #212529; }

.text-info {
  color: #707070; }

.btn--underline:hover {
  text-decoration: underline; }

.btn--zoom:hover {
  -webkit-transform: scale(1.3, 1.3);
      -ms-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3); }

.cite--jump {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px #dee2e6;
          box-shadow: 0 0 1px #dee2e6;
  position: relative;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s; }
  .cite--jump::before {
    pointer-events: none;
    position: absolute;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    /*影子高度*/
    width: 90%;
    /*影子寬度*/
    opacity: 0;
    /*透明度=0，隱藏*/
    background: -o-radial-gradient(center, ellipse, #AA0601 5%, #AA06010D 80%);
    background: radial-gradient(ellipse at center, #AA0601 5%, #AA06010D 80%);
    /*區塊的影子*/
    /*函式創建背景圖( 橢圓形 在 中間, 中心主色 顏色濃度, 擴散(外圍)顏色 顏色濃度)  */
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: transform, opacity;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform; }
  .cite--jump:hover {
    background-color: #AA06010D;
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
    /*將區塊往上升*/ }
    .cite--jump:hover::before {
      opacity: 1;
      /*透明度=1，顯示*/
      -webkit-transform: translateY(10px);
          -ms-transform: translateY(10px);
              transform: translateY(10px); }

.logo {
  width: 80px;
  height: 49px;
  background: url(../images/logo.png) center no-repeat;
  display: block;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden; }
  @media (max-width: 576px) {
    .logo {
      display: inline-block;
      width: 48px;
      height: 30px;
      background-size: cover;
      margin: 10px auto; } }

.btn__link--conversion {
  padding: 40px 32px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  position: relative;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s; }
  .btn__link--conversion::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #650300;
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
            transform-origin: 50% 0;
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out; }
  .btn__link--conversion:hover {
    color: #707070; }
    .btn__link--conversion:hover::before {
      -webkit-transform: scaleY(1);
          -ms-transform: scaleY(1);
              transform: scaleY(1); }
  @media (max-width: 768px) {
    .btn__link--conversion {
      padding: 40px 20px; } }
  @media (max-width: 576px) {
    .btn__link--conversion {
      padding: 8px 20px; } }

@media (max-width: 576px) {
  .btn__item--conversion {
    width: 50%;
    border: 1px solid #ffffff; } }

.figure-icon {
  width: 48px;
  height: 48px; }
  @media (max-width: 768px) {
    .figure-icon {
      width: 24px;
      height: 24px; } }

@media (max-width: 576px) {
  .icon-ss {
    width: 20px;
    height: 20px; } }

.footer-navbar {
  padding-top: 36px;
  padding-bottom: 29px; }
  @media (max-width: 992px) {
    .footer-navbar {
      padding-top: 40px;
      padding-bottom: 40px; } }
  @media (max-width: 768px) {
    .footer-navbar {
      padding-top: 24px;
      padding-bottom: 22px; } }

@media (max-width: 576px) {
  .footer-navbar__sidebar ul:nth-child(1) {
    display: none; } }

@media (max-width: 576px) {
  .copyright-ss {
    position: relative; } }

@media (max-width: 768px) {
  .footer-logo {
    display: none; } }

@media (max-width: 576px) {
  .footer-logo {
    width: 46px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0; } }

@media (max-width: 768px) {
  .icon--width-ms-6 {
    width: 24px; }
  .icon--width-ms-8 {
    width: 32px; } }

@media (max-width: 576px) {
  .icon--width-ss-5 {
    width: 20px; } }

.banner {
  height: 840px;
  background: url(../images/banner.png) center no-repeat; }
  @media (max-width: 576px) {
    .banner {
      height: 394px; } }

.banner__content {
  height: 100%;
  text-align: right; }

.specialty-card {
  width: 22%; }
  @media (max-width: 992px) {
    .specialty-card {
      width: 35%; } }
  @media (max-width: 576px) {
    .specialty-card {
      width: 55%; } }

.specialty-img {
  height: 100px;
  position: relative; }
  .specialty-img img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }

.specialty-order {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3; }

.product-card li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px; }
  .product-card li:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }

.product-card img {
  width: 50%; }

.product-card h4 {
  position: relative; }
  .product-card h4:nth-child(2) {
    margin-right: 30px; }

.product-card a {
  margin-left: 86px; }
  .product-card a::before {
    width: 48px;
    height: 48px;
    position: absolute;
    background-size: contain; }

@media (max-width: 768px) {
  .product-card li {
    margin-bottom: 8px; }
    .product-card li:nth-child(2) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
      .product-card li:nth-child(2) h4 {
        margin-right: 0; }
  .product-card h4 {
    font-size: 28px; }
  .product-card a {
    margin-left: 70px; }
    .product-card a::before {
      width: 32px;
      height: 32px; } }

@media (max-width: 576px) {
  .product-card li {
    position: relative; }
  .product-card img {
    width: 100%; }
  .product-card h4 {
    position: absolute;
    top: 50%;
    left: 45%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .product-card a {
    color: #ffffff; } }

.diamond::before {
  content: '';
  background: url(../images/icon-diamond.svg) center no-repeat;
  top: 5px;
  left: 30px; }
  @media (max-width: 768px) {
    .diamond::before {
      top: 0; } }
  @media (max-width: 576px) {
    .diamond::before {
      background: url(../images/icon-diamond-white.svg) center no-repeat; } }

.sun::before {
  content: '';
  background: url(../images/icon-sun.svg) center no-repeat;
  top: 5px;
  left: 30px; }
  @media (max-width: 768px) {
    .sun::before {
      top: 0; } }
  @media (max-width: 576px) {
    .sun::before {
      background: url(../images/icon-sun-white.svg) center no-repeat; } }

.thunder::before {
  content: "";
  background: url(../images/icon-thunder.svg) center no-repeat;
  top: 8px;
  left: 30px; }
  @media (max-width: 768px) {
    .thunder::before {
      top: 3px; } }
  @media (max-width: 576px) {
    .thunder::before {
      background: url(../images/icon-thunder-white.svg) center no-repeat; } }

.product__icon {
  width: 48px;
  height: 48px; }
  @media (max-width: 992px) {
    .product__icon {
      width: 32px;
      height: 32px; } }
  @media (max-width: 768px) {
    .product__icon {
      margin-left: 30px; } }

@media (max-width: 768px) {
  .product__text {
    font-size: 28px; } }

.crossover {
  background: url(../images/bg.png) center no-repeat; }

.crossover-card {
  font-size: 72px; }
  @media (max-width: 992px) {
    .crossover-card {
      font-size: 48px; } }
  @media (max-width: 768px) {
    .crossover-card {
      font-size: 32px; } }

.crossover-card__item {
  width: 49%;
  position: relative; }
  .crossover-card__item::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.3); }
  @media (max-width: 576px) {
    .crossover-card__item {
      width: 100%; } }

.crossover-card__content {
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.cite-width {
  width: calc(100%/4 - 15px); }
  @media (max-width: 768px) {
    .cite-width {
      width: calc(100%/2 - 15px); } }
  @media (max-width: 576px) {
    .cite-width {
      width: 100%; } }

@media (max-width: 576px) {
  .cite-img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain; } }

.contact-container {
  width: 730px;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .contact-container {
      width: 450px; } }

.contact-input {
  width: 100%;
  background-color: transparent;
  padding: 14px 16px;
  border: 1px solid #000000;
  resize: none; }

.contact-btn {
  width: 350px;
  display: block;
  background-color: #AA0601;
  margin: auto; }
  .contact-btn:hover {
    background-color: #650300; }

.active::before {
  content: '';
  width: 100%;
  height: 16px;
  position: absolute;
  background-color: #AA0601;
  bottom: 0;
  left: 0;
  right: 0; }
  @media (max-width: 992px) {
    .active::before {
      height: 8px; } }
  @media (max-width: 576px) {
    .active::before {
      height: 4px; } }

.product__item {
  width: 462px;
  border: 1px solid #dcdcdc;
  position: relative; }
  @media (max-width: 992px) {
    .product__item {
      width: 256px; } }

.product__link {
  font-size: 42px;
  color: #000000;
  padding: 24px 0; }
  @media (max-width: 992px) {
    .product__link {
      font-size: 28px;
      padding: 16px 0; }
      .product__link img {
        width: 32px;
        height: 32px;
        vertical-align: -15%; } }
  @media (max-width: 576px) {
    .product__link {
      font-size: 14px;
      padding: 8px 0; }
      .product__link img {
        width: 15px;
        height: 15px; } }
  .product__link:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 16px;
    background-color: #AA0601;
    bottom: 0;
    left: 0;
    right: 0; }
    @media (max-width: 992px) {
      .product__link:hover::after {
        height: 8px; } }
    @media (max-width: 576px) {
      .product__link:hover::after {
        height: 4px; } }

.product__img {
  width: calc(100%/2 - 15px); }
  @media (max-width: 992px) {
    .product__img {
      width: calc(100%/2 - 0px); } }

.product-list {
  width: calc(100%/4 - 15px); }
  @media (max-width: 992px) {
    .product-list {
      width: calc(100%/3 - 15px); } }
  @media (max-width: 768px) {
    .product-list {
      width: calc(100%/2 - 15px); } }
  @media (max-width: 576px) {
    .product-list {
      width: calc(100%/1 - 0px); } }
  .product-list__sun {
    width: calc(100%/3 - 15px); }
    .product-list__sun-img {
      width: 100%;
      height: 224px;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: 50% 50%;
         object-position: 50% 50%; }
    @media (max-width: 992px) {
      .product-list__sun {
        width: calc(100%/2 - 15px); } }
    @media (max-width: 576px) {
      .product-list__sun {
        width: calc(100%/1 - 0px); } }
  .product-list__img {
    width: 100%;
    height: 164px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 50%;
       object-position: 50% 50%; }

.product-color__box {
  width: 24px;
  height: 24px;
  border-radius: 4px; }

.product-color--dark {
  background-color: #5F3E2D; }

.product-color--light {
  background-color: #B75929; }

.product__page-num {
  color: #555555;
  padding: 10px 12px;
  border: 1px solid #555555; }
  .product__page-num:hover {
    background-color: #000000;
    color: #ffffff; }

.product--holder {
  background-color: #000000;
  color: #ffffff; }

/*# sourceMappingURL=all.css.map */
