/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  display: block;
  text-decoration: none;
  color: #ffffff; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5; }

@font-face {
  font-family: 'Fat';
  src: url(../fonts/NotoSansTC-Bold.otf);
  unicode-range: U+4E00-9FFF; }

@font-face {
  font-family: 'Fat';
  src: url(../fonts/Roboto-Bold.ttf);
  unicode-range: U+0041-007E; }

@font-face {
  font-family: 'Regular';
  src: url(../fonts/NotoSansTC-Regular.otf);
  unicode-range: U+4E00-9FFF; }

@font-face {
  font-family: 'Regular';
  src: url(../fonts/Roboto-Regular.ttf);
  unicode-range: U+0041-007E; }

@font-face {
  font-family: 'Medium';
  src: url(../fonts/Roboto-Medium.ttf);
  unicode-range: U+0041-007E; }

@font-face {
  font-family: 'BlackItalic';
  src: url(../fonts/Roboto-BlackItalic.ttf);
  unicode-range: U+0041-007E; }

.f1 {
  font-family: 'Fat'; }

.f2 {
  font-family: 'Regular'; }

.f3 {
  font-family: 'Medium'; }

.f4 {
  font-family: 'BlackItalic'; }

.h1, .h2, .h3, .h4, h5, h6 {
  line-height: 1.3; }

.h1 {
  font-size: 64px; }

.h2 {
  font-size: 48px; }

.h3 {
  font-size: 36px; }

.h4 {
  font-size: 32px; }

.h5 {
  font-size: 24px; }

.h6 {
  font-size: 20px; }

.h7 {
  font-size: 16px; }

.h8 {
  font-size: 14px; }

.text-content {
  color: #AA0601; }

.text-title {
  color: #650300; }

.text-info {
  color: #212529; }

.text-span {
  color: #707070; }

.text-white {
  color: #ffffff; }

.text-center {
  text-align: center; }

.full {
  background-color: #AA0601; }
  @media (max-width: 992px) {
    .full {
      padding-left: 52px;
      padding-right: 52px; } }
  @media (max-width: 767px) {
    .full {
      padding-left: 39px;
      padding-right: 39px; } }
  @media (max-width: 576px) {
    .full {
      padding-left: 15px;
      padding-right: 15px; } }

.full-light {
  background-color: #AA06010D; }
  @media (max-width: 992px) {
    .full-light {
      padding-left: 52px;
      padding-right: 52px; } }
  @media (max-width: 767px) {
    .full-light {
      padding-left: 39px;
      padding-right: 39px; } }
  @media (max-width: 576px) {
    .full-light {
      padding-left: 15px;
      padding-right: 15px; } }

.container {
  max-width: 1110px;
  margin: 0 auto; }

@media (max-width: 992px) {
  .container {
    max-width: 960px;
    margin: 0 auto; } }

@media (max-width: 767px) {
  .container {
    max-width: 720px;
    margin: 0 auto; } }

@media (max-width: 576px) {
  .container {
    max-width: 540px;
    margin: 0 auto; } }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-jc-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.flex-ai-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.mb-4 {
  margin-bottom: 16px; }

.mb-5 {
  margin-bottom: 20px; }

.mb-6 {
  margin-bottom: 24px; }

.mb-8 {
  margin-bottom: 32px; }

.ml-3 {
  margin-left: 12px; }

.ml-5 {
  margin-left: 20px; }

.ml-8 {
  margin-left: 32px; }

.ml-9 {
  margin-left: 36px; }

.ml-15 {
  margin-left: 60px; }

.mr-12 {
  margin-right: 48px; }

.hover-bg-color:hover {
  background-color: #650300; }

.hover-underline:hover {
  text-decoration: underline; }

.hover-transform:hover {
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2); }

.line-bottom {
  border-bottom: 1px solid #ffffff; }

@media (max-width: 767px) {
  .width-ms-6 {
    width: 24px; }
  .width-ms-8 {
    width: 32px; }
  .h6-ms {
    font-size: 20px; }
  .mb-ms-2 {
    margin-bottom: 8px; }
  .mb-ms-6 {
    margin-bottom: 24px; }
  .ml-ms-0 {
    margin-left: 0; }
  .ml-ms-6 {
    margin-left: 24px; }
  .mr-ms-10 {
    margin-right: 40px; } }

@media (max-width: 576px) {
  .display-none-ss {
    display: none; }
  .flex-column-ss {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .flex-ai-start-ss {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start; }
  .width-ss-5 {
    width: 20px; }
  .h7-ss {
    font-size: 16px; }
  .h8-ss {
    font-size: 14px; }
  .mb-ss-2 {
    margin-bottom: 8px; }
  .ml-ss-0 {
    margin-left: 0; }
  .ml-ss-1 {
    margin-left: 4px; }
  .my-ss-3 {
    margin: 12px 0; } }

.navbar {
  padding: 0 88px;
  text-align: center; }
  @media (max-width: 992px) {
    .navbar {
      padding: 0 39px; } }
  @media (max-width: 576px) {
    .navbar {
      padding: 0; } }

.text-hide {
  width: 80px;
  height: 49px;
  display: block;
  background: url(/assets/images/logo.png) center no-repeat;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden; }

.hover-bg-color {
  padding: 40px 32px; }
  @media (max-width: 767px) {
    .hover-bg-color {
      padding: 40px 20px; } }
  @media (max-width: 576px) {
    .hover-bg-color {
      width: 100%;
      padding: 8px 15px; } }

@media (max-width: 576px) {
  .navbar-menu li {
    width: 50%;
    border: 1px solid #ffffff; } }

.footer-navbar {
  padding: 36px 88px 29px; }
  @media (max-width: 992px) {
    .footer-navbar {
      padding: 40px 39px; } }
  @media (max-width: 576px) {
    .footer-navbar {
      padding: 24px 15px 22px; } }

@media (max-width: 576px) {
  .copyright-ss {
    position: relative; } }

@media (max-width: 767px) {
  .footer-logo {
    display: none; } }

@media (max-width: 576px) {
  .footer-logo {
    width: 46px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0; } }

/*# sourceMappingURL=all.css.map */
