@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  display: block;
  text-decoration: none;
  color: #ffffff; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5; }

@font-face {
  font-family: 'Fat';
  src: url(../fonts/NotoSansTC-Bold.otf);
  unicode-range: U+4E00-9FFF, U+3000-301E, U+FF01-FF1F, U+0030-0039; }

@font-face {
  font-family: 'Fat';
  src: url(../fonts/Roboto-Bold.ttf);
  unicode-range: U+00-024F; }

@font-face {
  font-family: 'Regular';
  src: url(../fonts/NotoSansTC-Regular.otf);
  unicode-range: U+4E00-9FFF, U+3000-301E, U+FF01-FF1F, U+0030-0039; }

@font-face {
  font-family: 'Regular';
  src: url(../fonts/Roboto-Regular.ttf);
  unicode-range: U+00-024F; }

@font-face {
  font-family: 'Medium';
  src: url(../fonts/NotoSansTC-Medium.otf);
  unicode-range: U+4E00-9FFF, U+3000-301E, U+FF01-FF1F, U+0030-0039; }

@font-face {
  font-family: 'Medium';
  src: url(../fonts/Roboto-Medium.ttf);
  unicode-range: U+00-024F; }

@font-face {
  font-family: 'BlackItalic';
  src: url(../fonts/Roboto-BlackItalic.ttf);
  unicode-range: U+00-024F; }

.f1 {
  font-family: 'Fat'; }

.f2 {
  font-family: 'Regular'; }

.f3 {
  font-family: 'Medium'; }

.f4 {
  font-family: 'BlackItalic'; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3; }

.h1 {
  font-size: 64px; }

.h2 {
  font-size: 48px; }

.h3 {
  font-size: 36px; }

.h4 {
  font-size: 32px; }

.h5 {
  font-size: 24px; }

.h6 {
  font-size: 20px; }

.h7 {
  font-size: 14px; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-direction-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.flex-direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.mb-1 {
  margin-bottom: 4px; }

.mb-2 {
  margin-bottom: 8px; }

.mb-5 {
  margin-bottom: 20px; }

.mb-6 {
  margin-bottom: 24px; }

.mb-8 {
  margin-bottom: 32px; }

.mb-10 {
  margin-bottom: 40px; }

.mb-15 {
  margin-bottom: 60px; }

.ml-2 {
  margin-left: 8px; }

.ml-3 {
  margin-left: 12px; }

.ml-6 {
  margin-left: 24px; }

.ml-7 {
  margin-left: 28px; }

.ml-8 {
  margin-left: 32px; }

.ml-10 {
  margin-left: 40px; }

.ml-12 {
  margin-left: 48px; }

.ml-15 {
  margin-left: 60px; }

.padding-4 {
  padding: 16px; }

.pt-9 {
  padding-top: 36px; }

.pt-16 {
  padding-top: 64px; }

.pb-7 {
  padding-bottom: 28px; }

.pb-16 {
  padding-bottom: 64px; }

.pb-20 {
  padding-bottom: 80px; }

.container {
  max-width: 1110px;
  margin: 0 auto; }
  @media (max-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (max-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 576px) {
    .container {
      max-width: 540px; } }

.full--limit {
  padding-left: 88px;
  padding-right: 88px; }
  @media (max-width: 992px) {
    .full--limit {
      padding-left: 52px;
      padding-right: 52px; } }
  @media (max-width: 768px) {
    .full--limit {
      padding-left: 40px;
      padding-right: 40px; } }
  @media (max-width: 576px) {
    .full--limit {
      padding-left: 15px;
      padding-right: 15px; } }

.full__bg--primary {
  background-color: #AA0601; }

.full__bg--primary-light {
  background-color: #AA06010D; }

.line-bottom--white {
  border-bottom: 1px solid #ffffff; }

.border {
  border: 1px solid #DEE2E6; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-white {
  color: #ffffff; }

.text-title-color {
  color: #650300; }

.text-primary {
  color: #AA0601; }

.text-span {
  color: #212529; }

.text-info {
  color: #707070; }

.btn--conversion {
  padding: 40px 32px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  position: relative;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s; }
  .btn--conversion::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #650300;
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
            transform-origin: 50% 0;
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out; }
  .btn--conversion:hover {
    color: #707070; }
    .btn--conversion:hover::before {
      -webkit-transform: scaleY(1);
          -ms-transform: scaleY(1);
              transform: scaleY(1); }

.btn--underline:hover {
  text-decoration: underline; }

.btn--zoom:hover {
  -webkit-transform: scale(1.3, 1.3);
      -ms-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3); }

.cite--jump {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px #dee2e6;
          box-shadow: 0 0 1px #dee2e6;
  position: relative;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s; }
  .cite--jump::before {
    pointer-events: none;
    position: absolute;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    /*影子高度*/
    width: 90%;
    /*影子寬度*/
    opacity: 0;
    /*透明度=0，隱藏*/
    background: -o-radial-gradient(center, ellipse, #AA0601 5%, #AA06010D 80%);
    background: radial-gradient(ellipse at center, #AA0601 5%, #AA06010D 80%);
    /*區塊的影子*/
    /*函式創建背景圖( 橢圓形 在 中間, 中心主色 顏色濃度, 擴散(外圍)顏色 顏色濃度)  */
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: transform, opacity;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform; }
  .cite--jump:hover {
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
    /*將區塊往上升*/ }
    .cite--jump:hover::before {
      opacity: 1;
      /*透明度=1，顯示*/
      -webkit-transform: translateY(10px);
          -ms-transform: translateY(10px);
              transform: translateY(10px); }

.logo {
  width: 80px;
  height: 49px;
  background: url(../images/logo.png) center no-repeat;
  display: block;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden; }

.banner {
  height: 840px;
  background: url(../images/banner.png) center no-repeat; }

.banner__content {
  height: 100%;
  text-align: right; }

.specialty-card {
  width: 22%; }

.specialty-img {
  height: 100px;
  position: relative; }
  .specialty-img img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }

.product__img {
  width: 635px;
  height: 320px; }

.crossover {
  background: url(../images/bg.png) center no-repeat; }

.crossover-card {
  font-size: 72px; }

.crossover-card__item {
  width: 48%;
  position: relative; }
  .crossover-card__item::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.3); }

.crossover-card__content {
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.cite-width {
  width: calc(100%/4 - 15px); }

/*# sourceMappingURL=all.css.map */
