<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="full--limit full--primary d-flex justify-content-between align-items-center">
    <h1><a class="logo" href="index.html" title="眼鏡形象網">眼鏡形象</a></h1>
    <ul class="d-flex">
      <li><a class="f2 h6 btn--conversion" href="index.html">系列鏡框</a></li>
      <li><a class="f2 h6 btn--conversion" href="#">門市據點</a></li>
      <li><a class="f2 h6 btn--conversion" href="#">部落格</a></li>
      <li><a class="f2 h6 btn--conversion" href="#">常見問題</a></li>
    </ul>
  </header>

  <%- contents %>

  <footer class="full--limit full--primary f2 pt-9 pb-7">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center mb-5">
        <ul class="d-flex">
          <li><a class="btn--underline" href="index.html">首頁</a></li>
          <li class="ml-12 ml-10-ms"><a class="btn--underline" href="#">系列鏡框</a></li>
          <li class="ml-12 ml-10-ms"><a class="btn--underline" href="#">門市據點</a></li>
          <li class="ml-12 ml-10-ms"><a class="btn--underline" href="#">部落格</a></li>
          <li class="ml-12 ml-10-ms"><a class="btn--underline" href="#">常見問題</a></li>
        </ul>
        <ul class="d-flex">
          <li><a class="btn--zoom" href="#"><img class="figure-icon" src="./assets/images/icon-fb.svg" alt="facebook"></a></li>
          <li class="ml-8"><a class="btn--zoom" href="#"><img class="figure-icon" src="./assets/images/icon-ig.svg" alt="instagram"></a></li>
          <li class="ml-8"><a class="btn--zoom" href="#"><img class="figure-icon" src="./assets/images/icon-line.svg" alt="line"></a></li>
        </ul>
      </div>
      <ul class="line-bottom--white h3 h6-ms mb-6">
        <li class="d-flex align-items-center mb-5 mb-2-ms"><img class="figure-icon icon-ss" src="./assets/images/icon-phone.svg" alt="icon-phone"><a class="btn--underline ml-6 ml-3-ms" href="tel:0800-000-000">0800-000-000</a></li>
        <li class="d-flex align-items-center mb-5"><img class="figure-icon icon-ss" src="./assets/images/icon-mail.svg" alt="icon-mail"><a class="btn--underline ml-6 ml-3-ms" href="meilto:glasses@business.com">glasses@business.com</a></li>
      </ul>
    </div>
    <div class="container d-flex justify-content-between">
      <ul class="d-flex align-items-center">
        <li class="d-none-ms"><a href="index.html" title="眼鏡形象網"><img src="./assets/images/logo.png" alt="眼鏡形象網"></a></li>
        <li class="ml-10 ml-0-ms text-white">Copyright © 2020 Glasses.All rights reserved.</li>
      </ul>
      <ul class="d-flex align-items-center h7">
        <li><a class="btn--underline" href="#">隱私權政策</a></li>
        <li class="ml-15 ml-6-ms"><a class="btn--underline" href="#">服務條款</a></li>
      </ul>
    </div>
  </footer>

  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
